html {
  font-size: 10px;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  font-family: "Courier New", monospace;
}
.heading {
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
  padding: 40px 0;
}

.container {
  width: 1270px;
  margin: 0 auto;
  position: relative;
}

.img-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  display: none;

  width: 100%;
  height: auto;
  object-fit: cover;
  overflow: hidden;
  transition: 1s;
}

.active {
  display: block;
}

/* .arrow-list {
  display: flex;
  justify-content: space-between;
} */

.arrow {
  background-color: black;
  opacity: 0.6;
  width: 50px;
  height: 50px;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.arrow:hover {
  opacity: 0.8;
}

.arrow-right {
  right: 0;
  rotate: -180deg;
  transform: translateY(50%);
}
